@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
body{
	font-family: 'Piedra', cursive;
}
header{
	display: flex;
	justify-content: space-around;
}
header button {
	margin-top: 20px;
	width:40px;
	height: 40px;
	background-image: url("images/panier.jpg");
	background-size: 100%;
	cursor: pointer;
	transition: 0.5s ease;

}
header button:hover{
	border:3px solid blue;
	border-radius: 50%;
}
section{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
div{
	width:400px;
	height: 400px;
	background-size: 100%;
	background-repeat: no-repeat;
}
#i1{
	background-image: url(images/arduino.jpg);
}
#i2{
	background-image: url(images/ras.jpg);
}
#i3{
	background-image: url(images/stm.jpg);
}
#i4{
	background-image: url(images/blu.jpg);
}
#i5{
	background-image: url(images/roue.jpg);
}
#i6{
	background-image: url(images/ult.jpg);
}

